<h1>Welcome to Twitter Creeper App!</h1>

<img src="http://www.reactiongifs.com/wp-content/gallery/yes/zack_gal.gif", alt = "Welcome image", width = 400px />
<form action="/" method="post">
  <p>Hey girl.. enter the twitter handle you want to creep on here: @<input type="text" name="target_handle" autofocus></p>
  <button>Submit</button>
</form>
